PORT=3000

DB_HOST=************
DB_PORT=************
DB_USER=************
DB_PASSWORD=************
DB_NAME=************

JWT_SECRET="18969af2a19ec8d9e21f75b125c3d47931e5fc96df022a65a1cfc48311cd8c0e"
JWT_EXPIRATION=1d